body {
  background-color: black;
  /* background-image: url(mainbg.png); */
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 10px;
  font-family: "Oxygen", cursive;
  font-size: 25px;
  color: black;
}

#header {
  font-family: "Oxygen", monospace, Courier;
  color: white;
  line-height: 1em;
  transition: all 0.5 ease;
  /* -webkit-box-reflect: below 1px linear-gradient(transparent, blue); */
  /* outline: none; */
  padding-right: 25px;
  margin-right: 10%;
  margin-top: 45vh;
  font-size: 4vw;
  letter-spacing: 15px;
  position: relative;
  text-transform: uppercase;
  text-align: centre;
  /* font-weight: bold; */
  /* border-right: 4px solid #064bc3; */
  animation: animate 5s linear infinite;
  user-select: none;
}

@keyframes animate {
  0%,
  18%,
  20%,
  50.1%,
  60%,
  65.1%,
  80%,
  90.1%,
  92% {
    color: rgb(92, 225, 243);
    /* text-shadow: none; */
  }
  18.1%,
  20.1%,
  30%,
  50%,
  60.1%,
  65%,
  80.1%,
  90%,
  92.1%,
  100% {
    color: white;
    text-shadow: 0 0 10px blue, 0 0 20px blue, 0 0 40px blue, 0 0 80px blue,
      0 0 160px blue;
  }
}

div {
  display: block;
}

#cover {
  font-family: "Ubuntu", monospace, Courier;
  position: relative;
  width: 100%;
  margin-top: 50vh;
  padding-top: 5vh;
  min-height: 130vh;
  display: block;
  overflow: auto;
  color: rgb(249, 248, 243);
  background: linear-gradient(
    0deg,
    rgba(8, 27, 236, 0.944) 0%,
    rgb(15, 15, 15) 70%
  );
  word-wrap: normal;
}

div {
  display: block;
}

#description-box {
  font-size: 16px;
}
#description-box {
  margin: auto;
  padding-right: 5vw;
  padding-left: 5vw;
  font-size: 25px;
  max-width: 850px;
  position: relative;
}
div {
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

/* .sidebar {
  font-family: "Oxygen", monospace, Courier;
  font-weight: bold;
  position: static;
  left: -250px;
  z-index: 10;
  bottom: 0;
  width: 250px;
  height: 100%;
  background: rgb(248, 248, 247);
  transition: all 0.5s ease;
}

.sidebar header {
  font-size: 25px;
  color: white;
  text-align: left;
  line-height: 70px;
  background: rgba(8, 27, 236, 0.944);
  user-select: none;
}

.sidebar ul a {
  display: block;
  list-style-type: none;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  text-transform: uppercase;
  color: black;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgb(233, 234, 237);
  border-bottom: 1px solid rgb(237, 236, 233);
  transition: 0.4s;
}

ul li:hover a {
  padding-left: 50px;
  background: rgba(8, 27, 236, 0.944);
}

.sidebar ul a i {
  margin-right: 20px;
}

#check {
  display: none;
}

label #btn,
label #cancel {
  position: absolute;
  cursor: pointer;
  background: #1a3bdf;
  border-radius: 5px;
}

label #btn {
  left: 20px;
  z-index: 100;
  top: 15px;
  font-size: 25px;
  color: white;
  padding: 5px 12px;
  transition: all 0.5s;
}

label #cancel {
  z-index: 100;
  left: -195px;
  bottom: 5px;
  font-size: 10px;
  color: white;
  padding: 4px 9px;
  transition: all 0.5s ease;
}

#check:checked ~ .sidebar {
  left: 0;
}

#check:checked ~ label #btn {
  transform: rotate(250deg);
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#check:checked ~ label #cancel {
  transform: rotate(-180deg);
  left: 195px;
} */

.back-video {
  position: fixed;
  right: 0;
  bottom: 0;
  margin-top: -100px;
  z-index: -1;
}

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

footer {
  box-sizing: border-box;
  font-size: large;
  text-align: center;
  margin: 10;
  padding: 25x;
  color: white;
  background: #0e0e0f;
}
footer ul {
  list-style: none;
}

/* footer a {
  color: #fff;
  text-decoration: none;
} */

footer .container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}

.media-icons li {
  display: inline-block;
  margin: 0 10px;
}
.media-icons a {
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  border: 1px #fff solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
}
.media-icons a:hover {
  background: rgba(8, 27, 236, 0.944);
  color: #111;
}

/* == responsive == */
@media screen and (max-width: 900px) {
  .footer .container {
    flex-direction: column;
  }
}

/* .ripple-sort-btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: center;
} */

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  background-color: #1c28867c;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 20px;
}

.navbar li:last-child {
  margin-right: 0;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.navbar a:hover {
  background-color: #007bffd7;
}

@media (max-width: 768px) {
  .navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar li {
    margin: 10px;
  }
}
